.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    float: left;
}

.box1 {
    background-image: url(Image/Naga01.jpeg);
    background-size: contain;
}

.box2 {
    background-image: url(Image/Naga02.jpeg);
    background-size: contain;
}

.box3 {
    background-image: url(Image/Naga03.jpeg);
    background-size: contain;
}

.box4 {
    background-image: url(Image/Naga04.jpeg);
    background-size: contain;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    height: 150px;
    margin: 10px;
}